.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.warn {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.handlers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  column-gap: 3rem;
  margin-top: 2rem;
}

.handlers button:first-child {
  padding: 0.5rem 3rem;
  border: 1px solid red;
  color: red;
  font-weight: bold;
}

.handlers button:last-child {
  padding: 0.5rem 3rem;
  border: 1px solid #988aa1;
  color: #988aa1;
  font-weight: bold;
}
